@import '~compass-mixins/lib/compass/css3'

/* VARIABLES */

$canvas-thumbnail-width: 100%;
$canvas-thumbnail-height: 140px;

// Colors
$c-white: #fff;
$c-black: #232323;
$c-gray: #525252;
$c-dark-blue: #25213E;
$c-lighter-gray: #EBF3F4;
$c-light-gray: #b1b3b7;

// Spaces
$sp-xsmall: 5px
$sp-small: 10px
$sp-base: 20px
$sp-semi-medium: 30px
$sp-medium: 40px
$sp-big: 60px
$sp-large: 80px
$sp-xlarge: 120px

// Font families
$ff-sans: 'Open Sans', Arial, sans-serif
$ff-serif: Sabon, Garamond, serif

// Font sizes
$fs-xsmall: 0.875rem
$fs-small: 1rem
$fs-base: 1.125rem
$fs-medium: 1.25rem
$fs-big: 1.625rem
$fs-large: 2.25rem
$fs-xlarge: 3.25rem

// Line heights
$lh-big: 1.7
$lh-base: 1.4
$lh-small: 1.3

/* PARTIALS */

@import '_reset.sass'
@import '_base.sass'
@import '_layouts.sass'
@import 'components/index.sass'