.c-canvas__stage
  position: relative
  width: 100%
  height: 100%

.c-canvas__annotations
  background: $c-lightest-gray
  position: absolute
  width: 100%
  height: 100%

  .o-annotation
    cursor: pointer

  .o-annotation.is-hovered, .o-annotation:hover
      stroke: $c-black
      stroke-width: 1px

  .o-annotation.is-selected
      stroke: $c-black
      stroke-width: 3px

.c-canvas__filter-controls
  position: relative
  width: 100%
  height: 100%

.c-canvas__layout-control
  position: absolute
  left: $sp-base
  bottom: $sp-base

.c-canvas__filter-control
  position: absolute
  right: $sp-base
  bottom: $sp-base