.c-canvas-controls
  line-height: $sp-big
  height: $sp-big
  display: flex
  align-items: center

.c-canvas-controls__select
  background-color: $c-light-gray
  display: inline-block
  height: $sp-semi-medium
  padding: 0 $sp-small
  margin-right: $sp-small
  color: $c-gray
  display: flex
  align-items: center

  svg
    border-right: 1px solid $c-gray2
    padding-right: $sp-small 
    margin-right: $sp-small 


