.c-canvas-bar__thumbnails 
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto

.c-canvas-bar__add
  display: table;
  width: $canvas-thumbnail-width
  height: $canvas-thumbnail-height
  margin-bottom: $sp-base
  border: 1px solid $c-lighter-gray
  position: relative
  cursor: pointer

  span
    position: absolute
    font-size: $fs-large
    color: $c-light-gray
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)

  &:hover
    border-color: $c-light-gray

    span
      color: $c-gray