.c-canvas__stage
  position: relative
  width: 100%
  height: 100%

.c-canvas__title
  font-size: $fs-large
  position: absolute
  left: 3%
  top: 5%

.c-canvas__innerstage
  background: $c-lightest-gray
  position: absolute
  width: 100%
  height: 100%

  .o-glyph
    cursor: pointer
    // transition: all 400ms;

  .o-glyph.is-hidden
      opacity: 0.2

  .o-glyph.is-hidden:hover, .o-glyph.is-hidden.is-selected, .o-glyph.is-hidden.o-glyph.is-hovered
      opacity: 1

  .o-glyph.is-hovered, .o-glyph:hover
      stroke: $c-black
      stroke-width: 1px

  .o-glyph.is-selected
      stroke: $c-black
      stroke-width: 2px

  .o-line
    stroke-width: 1px
    stroke: $c-black

  .o-line.enclosed

  .o-line.overlapping
    stroke-dasharray: 1
      
  .o-line.coextensive
    stroke-dasharray: 3
    

.c-canvas__labels text
  font-size: $fs-xsmall
  fill: $c-gray2

// .c-canvas__overlays
//   position: relative

.c-canvas__comment-panel
  position: absolute
  left: 50%
  bottom: $sp-base
  transform: translate(-50%,0)
  max-width: 280px

.c-canvas__layout-panel
  position: absolute
  right: $sp-base
  bottom: $sp-base

.c-canvas__filter-panel
  position: absolute
  left: $sp-base
  bottom: $sp-base 