.c-filter-panel
  border: 1px solid $c-lighter-gray
  background-color: $c-white
  box-shadow: 0 3px 6px rgba(0,0,0,0.12)

  .c-filter-panel__header
    padding: $sp-small
    border-bottom: 1px solid $c-lighter-gray

    h3
      color: $c-gray
      font-size: $fs-small
      display: inline

    .is-right
      color: $c-gray2
      float: right
      padding-right: $sp-base
      font-size: $fs-small

  .c-filter-panel__header:after
    content: ""
    display: table
    clear: both

  .c-filter-panel__content
    padding: $sp-small

  .c-filter-panel__controls
    div, select 
      padding-top: $sp-xsmall  
      font-size: $fs-xsmall

.c-filter-panel__close
  position: absolute
  top: $sp-xsmall * 1.5
  right: $sp-xsmall * 1.5