.c-header
  position: relative
  background: $c-dark-blue
  text-align: center
  min-height: $header-big-height
  line-height: $header-big-height
  vertical-align: middle  

  h1
    color: $c-white
    font-size: $fs-medium
    cursor: pointer

.c-header--small
  position: relative
  background: $c-lighter-gray
  min-height: $header-small-height
  line-height: $header-small-height
  vertical-align: middle 

  h2
    color: $c-gray
    font-size: $fs-medium
    padding-left: $sp-base

.c-header__right_element
  float: right
  padding: $sp-small