.c-text-area 
  font-family: $ff-sans
  font-size: $fs-xsmall
  line-height: 1.7
  white-space: pre-line
  overflow: auto
  flex: 1;

  .is-inactive
    color: $c-light-gray

  .is-selectable
    cursor: pointer

.c-text-area__selected-text
  margin-padding: $sp-base
  padding: $sp-base 0
  border-bottom: 1px dotted $c-lighter-gray

