.c-text-area 
  font-family: $ff-serif
  font-size: $fs-xsmall
  line-height: 1.6
  white-space: pre-line
  overflow: auto
  flex: 1;

  .is-inactive
    color: $c-light-gray

  .is-selectable
    cursor: pointer

  // .is-hovered, .is-selectable:hover
  //   background-color: red